html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#courseName {
    text-align: center;
}

#map {
    height: 50%;
    width: 100%;

}

table {
    width: 98%;
    border-collapse: collapse;
    margin: auto;
    border-bottom: solid 2pt black;
    border-left: solid 2pt black;
    border-right: solid 2pt black;
}

#headTable {
    border-top: solid 2pt black;
    margin: 10px auto 0 auto;
}

#holeNum {
    background-color: forestgreen;
    color: white;
}

tr td {
    border: solid 2pt black;
}

td {
    height: 30px;
    text-align: center;
}

#blackTee {
    background-color: black;
    color: white;
    display: none;
}

#blueTee {
    background-color: blue;
    color: white;
    display: none;
}

#whiteTee {
    background-color: white;
    display: none;
}

#redTee {
    display: none;
    background-color: red;
    color: white;
}

#parNum {
    background-color: cornsilk;
}

#player1 {
    display: none;
}

#player2 {
    display: none;
    background-color: azure;
}

#player3 {
    display: none;
}

#player4 {
    display: none;
    background-color: azure;
}

#player5 {
    display: none;
}

#player6 {
    display: none;
    background-color: azure;
}

#player7 {
    display: none;
}

#player8 {
    display: none;
    background-color: azure;
}

#toggle {
    display: none;
}

.frontNine {
    display: none;
}

.backNine {
    display: none;
}

.col-md-4 {
    margin: auto;

}

.myModalInfo {
    display: flex;
    align-content: space-around;
    margin: 0 auto;
}

.col-md-5 {
    margin: auto;
    padding: 5px;
}

.col-md-3 {
    margin: auto;
    padding: 5px;
}

.cardOptions {
    margin: 15px;
}

.playerEntry {
    display: none;
}

td input {
    width: 30px;
    height: 25px;
    margin: auto;
    text-align: center;
}

#resetGame {
    margin: 15px;
    float: right;
}

#finishGame {
    margin: 15px;
    float: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#tieGame {
    display: none;
}

#noWinnerGame {
    display: none;
}

.pointer:hover {
    cursor: pointer;
}

#hcpNum {
    background-color: #6d6a6a;
    color: white;
    display: none;
}

#courseError {
    color: red;
}

.PElabel {
    padding-top: 5px;
    float: left;
    margin-bottom: 10px;
}

.PEinput {
    float: left;
    width: 200px;
    margin: 0 0 10px 15px;
    padding: 5px 0 5px 0;
}

.PEselect {
    float: right;
    width: 200px;
    margin-bottom: 10px;
}

#playerForm {
    overflow: hidden;
}

#newPlayerForm {
    overflow: hidden;
}

.playerEntryInst {
    display: none;
}